body {
  display: flex;
  justify-content: center;
  font-family: "roboto", sans-serif;
  font-optical-sizing: auto;
  background-image: url(../img/BG.jpg);
  justify-content: center;
  height: 1080px;
  width: 100vh;
}

.logo-maior {
	position: absolute;
	top: 32%;
	width: 50%;
	left: 10%;
}

.bt-iniciar {
	background-color: #fff0;
	border: none;
	right: 10%;
	position: absolute;
	top: 50%;
	border-radius: 70px;
}


.bt-iniciar .iniciar-imagem {
  transition: 0.3s; 
}

.bt-iniciar:hover .iniciar-imagem {
  content: url('../img/bt_iniciar_hv.png');
}


.titulo {
  width: 175px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px black;
  margin: 1%;
}

.frase {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.zona-soltar {
  min-height: 200px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.alerta {
  display: none;
  margin-top: 20px;
  padding: 20px;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 23px;
}

.alerta-sucesso {
  background-color: #28a745;
}

.alerta-erro {
  background-color: #dc3545;
}

#proximaFrase {
  display: none;
}

.palavra {
  margin: 1%;
  padding: 1%;
  padding-inline: 2%;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  height: 69px;
  cursor: move;
}

.certo {
  background-color: #6CC66A;
  pointer-events: none;
}

.errado {
  background-color: #ED5B5B;
}

.quase {
  background-color: #DFD82E;
  color: black;
}

.infografico-container h2 {
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.infografico-container .subtitulo {
  color: #666;
  margin-bottom: 20px;
}

.modal-header{
  background-image: url(../img/topo_menor.png);
  background-repeat: no-repeat;

  justify-content: center;
  height: 226px;
}


.modal-header,
.modal-footer {
  border: none;
}

.modal-title {
  font-size: 2rem;
  color: black;
  text-align: center;
}

.modal-content {
	background-color: #daf2f2;
}

.estiloContador {
  background-color: #9FEA7C;
  margin: 2%;
  padding: 1%;
  font-size: 2rem;
  text-align: center;
  border-radius: 20px;
  align-items: center;
}


.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
  font-size: 23px;
  margin: 2%;
  margin-top: 4%;
  text-align: center;
}

#btnComecar {
	background: linear-gradient(to bottom, #66e0ff, #3fadc9);
	border: 5px solid #3f2d83;
	color: white;
	border-radius: 100px;
	padding: 10px 30px;
	font-size: 35px;
	font-family: Arial, sans-serif;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	transition: all 0.3s ease;
	width: 50%;
	margin: 3%;
	font-weight: bold;
}

#btnComecar:hover {
  background: linear-gradient(to bottom, #3fadc9, #66e0ff); /* Gradiente invertido no hover */
  cursor: pointer;
}


#verificar {
  background-color: #9ee97b;
  border: 4px solid black;
  color: black;
  border-radius: 10px;
  padding: 1%;
  font-size: 23px;
  align-items: center;
  text-align: center;
  margin: 2%;
}

#verificar:hover {
  background-color: #27640a;
  border: 4px solid white;
  color: white;
}

#proximaFrase {
  background-color: #DFD82E;
  border: 4px solid black;
  color: black;
  border-radius: 10px;
  padding: 1%;
  font-size: 23px;
  align-items: center;
  text-align: center;
  margin: 2%;
}

#proximaFrase:hover {
  background-color: #ffbb01;
  border: 4px solid white;
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}